body {

    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    font-size: 20px;
}

/* .main {
    background-image: url(build.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    color: white;
   
} */
.main {
    position: relative;
    height: 700px;
    color: white;
    overflow: hidden;
    z-index: 1;
}

/* Pseudo-element for blurred background */
.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('build.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


}

.nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 600px;
    font-size: 20px;
    justify-content: space-around;
}

.colo {
    color: white;
    text-decoration: none;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 250px;
    font-size: 50px;
}

.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa {
    font-size: 40px;
    color: white;
}

.b {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}

.btn {
    height: 70px;
    width: 100px;
    background-color: #37A;
}

.paint {
    color: rgb(16, 67, 109);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-weight: normal;
    margin-left: 90px;
}

.col {
    color: rgb(16, 67, 109);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-weight: normal;

}

.para {
    font-weight: normal;
    color: rgb(54, 50, 50);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.ww {
    font-family: 'san serif';
    text-transform: capitalize;
    font-size: 2.6rem;
    font-weight: normal;
    color: #37A;
}

.link {
    color: rgb(53, 178, 219);
}

.p0 {
    font-family: sans-serif;
    font-size: 17px;
    color: rgb(109, 104, 104);
    font-weight: 100;
}

.head {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 2.0rem;
    font-weight: normal;
    margin-left: 40px;
    color: #37A;
}

.p {
    font-family: sans-serif;
    font-size: 17px;
    color: rgb(109, 104, 104);
    line-height: 30px;
    margin-left: 10px;
    font-weight: 100;
    line-height: 1.9;
}

.row0 {
    padding-left: 100px;
}

.ma {
    height: fit-content;
    width: 550px;
    margin-left: 100px;
}

.fs {
    height: fit-content;
    width: 550px;
    margin-left: 100px;
}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fa-solid,
.fa-regular {
    font-size: 50px;
    color: #37A;
}

.se {
    height: fit-content;
    width: 550px;
    margin-left: 100px;
}

.sw {
    height: fit-content;
    width: 550px;
    margin-left: 100px;
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn1 {
    margin-left: 10px;
    height: 50px;
    width: 150px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: normal;
    background-color: #37A;
}

.btn2 {
    margin-left: 10px;
    height: 50px;
    width: 100px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: normal;
    background-color: #37A;

}

.c {
    color: white;
    text-decoration: none;

}

.conicon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.test {
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 700px;
    margin-top: 50px;
}

.test::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(build2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);

    z-index: -1;
}

.row4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}
.img1,
.img2,
.img3 {
    width: 250px;

}
.i1 {
    border-radius: 50%;
    height: 180px;
    width: 180px;
}
.i2 {
    height: 190px;
    width: 190px;
    border-radius: 50%;
}
.t {
    color: white;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.p2 {
    color: white;
    padding-left: 350px;
    width: 700px;
    line-height: 25px;
}
.p3 {
    color: white;
    padding-top: 15px;
}
.side {
    color: white;
    padding-left: 70px;
}
.glry {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 100;
    color: #37A;
    padding-top: 100px;
    padding-right: 100px;
}
.para1 {
    font-family: sans-serif;
    font-size: 17px;
    color: rgb(109, 104, 104);
    line-height: 30px;
    padding-left: 10px;
    font-weight: 100;
    width: 600px;
}
.row5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.row6 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 60px;
}
.last {
    position: relative;
    z-index: 1;
    margin-top:100px;
    height: 700px;
}
.last::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 background-image: url(build3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(4px);
    z-index: -1;
}
.con {
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    text-transform: capitalize;
    font-size: 35px;
}

.par0 {
    color: white;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 30px;
    margin-left: 10px;
    font-weight: 100;
    width: 700px;
    padding-left: 350px;
}

.row7 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}

.btn4 {
    background-color: #37A;
    color: white;
    height: 45px;
    width: 220px;
    border: none;
}

.add {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    gap: 20px;
    line-height: 20px;
}

.faa {
    color: white;
    font-size: 25px;
}

.font {
    font-family: sans-serif;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 18px;
}

.row8 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 40px;
}

.detail {
    margin-top: 30px;
}

.enquiry input {
    background: transparent;
    border: 1px solid white;
    border-radius: 10px;
    height: 50px;
    width: 400px;
    padding-left: 10px;
}

.enquiry textarea {
    background: transparent;
    border: 1px solid white;
    border-radius: 10px;
    height: 50px;
    width: 400px;
    padding-left: 10px;
}

.enquiry input::placeholder {
    color: white;
}

.enquiry textarea::placeholder {
    color: white;
    font-size: 16px;
    font-weight: lighter;
    font-family: sans-serif;
}

.contact {
    margin-bottom: 20px;
}

footer {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}